@font-face {
    font-family: 'TitleFont';
    src: url('/fonts/cursyger.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SecondFont';
    src: url('/fonts/Stepalange.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SecondFont', sans-serif;
    background-color: rgb(25, 25, 25);
    color: whitesmoke;
    padding: 80px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-family: 'TitleFont', sans-serif;
    margin-bottom: 100px;
}

.category {
    margin-bottom: 30px;
}

h2 {
    margin: 0;
    padding: 10px;
    text-align: center;
    margin-top: 60px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

h2:hover {
    transform: scale(1.2);
    color: #00BFFF;
}

.images {
    display: flex;
    gap: 30px;
    padding: 10px 0;
    justify-content: center;
    align-items: center; 
    margin-top: 25px;
}

.project-image {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.project-image:hover {
    transform: scale(1.1);
}

.arrow {
    font-family: 'SecondFont', sans-serif;
    position: absolute;
    top: 40px;
    left: 60px;
    font-size: 80px;
    text-decoration: none;
    color: whitesmoke;
    transition: background-color 0.3s, transform 0.3s;
}

.arrow:hover {
    color: #00BFFF;
    transform: scale(1.2);
}